body {
  background: #29292C;
  display: flex;
  flex-direction: column;
}

#board {
  background-color: #213555;
  width: 45rem;
  height: 45rem;
  margin: auto;
  margin-top: 80px;
  padding: 20px 20px 0px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.tiles {
  background-color: #3E5879;
  color: #F5EFE7;
  width: 12.75rem;
  height: 12.75rem;
  border-radius: 20px;
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#selection {
  background-color: #213555;
  width: 45rem;
  height: 15rem;
  margin: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#first-pick {
  background-color: #3E5879;
  width: 20rem;
  height: 7rem;
  border-radius: 10px;
}

h1 {
  color: #F5EFE7;
  text-align: center;
  font-size: 5rem;
}

#box {
  background: #213555;
  color: #F5EFE7;
  width: 45rem;
  height: 20rem;
  border-radius: 50px;
  padding: 20px;
  margin: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: center;
  align-items: center;
}

#box-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

#name-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 10em;
}

.player-boxes {
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.player-name {
  font-size: 2em;
}

.player-name-inputs {
  width: 200px;
  height: 30px;
  border-radius: 15px;
  padding: 5px;
  font-size: 1.2em;
  
}

#start-game-btn {
  width: 100px;
  height: 50px;
  border-radius: 15px;
}