body {
  background-color: #29292C;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #F5EFE7;
  text-align: center;
  font-size: 5rem;
}

#box {
  background: #213555;
  color: #F5EFE7;
  width: 45rem;
  height: 25rem;
  border-radius: 50px;
  padding: 20px;
  margin: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

#box-title {
  font-size: 40px;
  font-weight: bold;
}

#note {
  color: #A4A4A4;
  text-align: center;
  margin-top: 10px;
}

#name-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 10em;
}

.player-boxes {
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.player-name {
  font-size: 2em;
}

.player-name-inputs {
  width: 200px;
  height: 30px;
  border-radius: 15px;
  padding: 5px;
  font-size: 1.2em;

}

#start-game-btn {
  width: 100px;
  height: 50px;
  border-radius: 15px;
}


#score-display {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  gap: 9rem;
  margin: 90px auto;
}

.board {
  background-color: #213555;
  width: 45rem;
  height: 45rem;
  margin: auto;
  margin-top: 0;
  padding: 20px 20px 0px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  position: relative;
}

.board-active {
  border-radius: 20px;
  padding: 20px;
}

.tiles {
  background-color: #3E5879;
  color: #F5EFE7;
  width: 12.75rem;
  height: 12.75rem;
  border-radius: 20px;
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#winner-display {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-weight: bold;
  font-size: 3em;
  color: rgba(214, 166, 20, 1);
}

#winner-display-btns {
  display: flex;
  gap: 30px;
}

#selection {
  background-color: #213555;
  width: 45rem;
  height: 15rem;
  margin: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#first-pick-question {
  font-size: 2em;
}

#first-pick-box {
  background-color: #3E5879;
  width: 20rem;
  height: 7rem;
  border-radius: 10px;
  display: flex;
  margin-top: 30px;
}

.first-picks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 7rem;
  font-size: 5em;
  box-sizing: border-box;
}

.selected-first-pick {
  background-color: #213555;
  border: solid 5px #3E5879;
  border-radius: 10px;
}

.display-winner-btns {
  width: 100px;
  height: 50px;
  border-radius: 15px;
}
.flex {
  display: flex;
}

.grid {
  display: grid;
}